html {
    font-size: 10px;
    background-color: #4f5e6d;
  }

  h1 {
    font-family: 'Train One', sans-serif;
    font-size: 73px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px rgb(57, 75, 84);
    text-align: center;
    margin: 4px;
    padding: 30px 0;
  }

h2,
p,
li {    
    font-family: "BIZ UDPGothic", sans-serif;
  }
  
a, 
h1, 
h2 {
    color: rgb(60, 140, 190);
  }

a:hover {
    color: rgb(72, 163, 107);
  }

h2 {
    font-size: 30px;
    text-shadow: 1px 1px 1px rgb(57, 75, 84);
    text-align: center;
    margin: 3px 0;
    padding: 20px 0;
  }

p,
li {
  font-size: 16px;
  line-height: 1.5;
  }

  .responsive {
    width: 75%;
    height: auto;
    object-position: center;
  }  
  
  body {
    width: 800px;
    margin: 10px auto;
    background-color: #b8c5d2;
    padding: 0 50px 50px 50px;
    border: 2px solid black;
  }

  img {
    display: block;
    margin: 0 auto;
  }